<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2026 Yellow Teak
  ~ SPDX-License-Identifier: MIT
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="YellowTeak_ChangeCustomerPassword">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Backend"/>
            <module name="Magento_User"/>
        </sequence>
    </module>
</config>
