<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2026 Yellow Teak
  ~ SPDX-License-Identifier: MIT
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="yellow_teak" translate="label" sortOrder="999">
            <label>Yellow Teak</label>
        </tab>
        <section id="yellow_teak_change_customer_password" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Change Customer Password</label>
            <tab>yellow_teak</tab>
            <resource>YellowTeak_ChangeCustomerPassword::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" canRestore="1"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
